// Features section
.features__title {
    @extend %visually-hidden;
}

.features__list {
    @extend %list;
    // display: flex;
}
    
.features__item:not(:last-child) {
    margin-bottom: 30px;
}
    
.features__subtitle {
    @extend %uptitle;
    
    margin-bottom: 10px;
    text-align: center;

    color: $primary-text-color;
}
    
.icon-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
    // width: 270px;
    width: 100%;
    height: 120px;
    
    background-color: $secondary-bg-color;
    border-radius: 4px;
}
    
.features__text {
    margin-bottom: 0;
    
    line-height: 1.71;
    color: $secondary-text-color;
}