.work__section {
    @extend %section;

    padding-top: 0;
}

.work__container {
    @extend %container;
}

.work__main-title {
    @extend %section-title;
}

.work__list {
    @extend %list;
    
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
    
.work__item {
    position: relative;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__img {
    display: block;
    border-radius: 4px;
}
    
.work__title {
    @extend %uptitle;

    position: absolute;
    bottom: 0;
    left: 0;
    
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    
    width: 370px;
    min-height: 70px;
    
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    
    color: $primary-white-color;
    background: $work-title-bg;
}