// Clients section

.clients__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;

    width: calc((100% - 30px) / 2);
    
    // &:not(:last-child) {
    //     margin-bottom: 30px;
    // }

    &:nth-child(2n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

// Clients rectagle logo style
    
.clients__rectangle {
    @extend %link;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 90px;
    
    border-radius: 4px;
    border: 1px solid $clients-logos-bg;
    
    transition: $function-duration $function-timing;
    
    &:hover,
    &:focus {
        border-color:$accent-color;
        transition: $function-duration $function-timing;
    }
    &:hover .icon-clients,
    &:focus .icon-clients{
        border-color:$accent-color;
        fill: $accent-color;
        transition: $function-duration $function-timing;
    }
}
    
.icon-clients {
    display: inline-block;
    fill: $clients-logos-bg;
    transition: $function-duration $function-timing;
}