// Porfolio product filters

.portfolio__title {
    @extend %visually-hidden;
}

.filter__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet) {
        flex-wrap: unset;
        justify-content: center;
        margin-bottom: 50px;
    }
}
    
.button-secondary {
    @extend %button;
    
    display: inline-block;
    padding-right: 22px;
    padding-left: 22px;
    height: 38px;
    
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    
    color: $primary-text-color;
    background-color: $secondary-bg-color;
    
    transition: $function-duration $function-timing;
 
    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        
        transition: $function-duration $function-timing;
    }
    
    &:not(:last-child) {
        margin-right: 8px;
    }

    @media screen and (max-width: 403px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 295px) and (max-width: $up-to-tablet) {
        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 15px;
        }
    }
    @media screen and (min-width: 404px) and (max-width: $up-to-tablet) {
        &:nth-child(3) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }
}

// Portfolio product list

.product__list {
    @extend %list;

    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
    
.product__item {
    width: 100%;
    padding: 0;
    
    background: $primary-white-color;
    border-radius: 5px;
    
    transition: $function-duration $function-timing;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &:hover,
    &:focus { 
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);

        transition: transform $function-duration $function-timing;
    }
    
    @media screen and (min-width: $tablet) {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) and (max-width: $up-to-desktop) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n) {
            margin-right: 0;
        }
        
        &:nth-last-child(-n+1) {
            margin-bottom: 0;
            margin-right: 0;
        }

    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - (30px * 2)) / 3);

        &:nth-child(3n) {
            margin-right: 0;
        }
        
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }


}    

.product__link {
    @extend %link;

    display: block;
}

.product__wrap {
    position: relative;
    overflow: hidden;
    
    &::before {
        display: inline-block;
        position: absolute;
        content: "";
        
        top: 0;
        left: 0;
        
        height: 100%;
        width: 100%;
        
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background: rgba(33, 150, 243, 0.9);
        
        transform: translateY(101%);
        transition: transform $function-duration $function-timing;
    
        .product__link:hover &,
        .product__link:focus & {
            transform: translateY(0);
            transition: transform $function-duration $function-timing;
        }
    }
}    

.product__img {
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
    
.product__thumb {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    padding: 63px 24px;
    margin: 0;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    
    
    color: $primary-white-color;
    
    transform: translateY(100%);
    transition: transform $function-duration $function-timing;
    
    .product__link:hover &,
    .product__link:focus & {
        transform: translateY(0);
        transition: transform $function-duration $function-timing;
    }
}

.product__meta {
    display: block;
    padding: 20px 24px;
    
    border: 1px solid $portfolio-item-bg;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
    
.product__name {
    margin-top: 0;
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: $primary-text-color;
}
    
.product__desc {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    
    color: $secondary-text-color;
}