// page header

.page-header {
    position: relative;
    height: 60px;

    @media screen and (min-width: $tablet) {
        height: 80px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-border {
    border-bottom: 1px solid #ECECEC;
}

// site logo

.logo-header {
    display: block;
    padding-top: 16px;
    padding-bottom: 15px;

    @media screen and (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 24px;
        margin-right: 80px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 25px;
        margin-right: 85px;
    }
}
    
.logo-style {
    color: $accent-color;
}

.menu-button {
    display: inline-flex;
    align-self: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: currentColor;
    cursor: pointer;

    transform: rotate(0deg);
    transition: fill $function-duration $function-timing, transform $function-duration $function-timing;

    &:hover,
    &:focus {
        fill: $accent-color;

        transform: rotate(180deg);
        transition: fill $function-duration $function-timing, transform $function-duration $function-timing;
    }
  
    @media screen and (min-width: $tablet) {
      display: none;
    }
}
  
.menu-button .icon-cross {
    display: none;
}
  
.menu-button.is-open .icon-cross {
    display: block;

}
  
.menu-button.is-open .icon-menu {
    display: none;
}

// Hiding menu

.menu {
    margin: 0;
    text-align: center;
  
    @media screen and (max-width: $up-to-tablet) {
        display: none;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        border-top: 1px solid #ECECEC;
        background-color: $primary-white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

        &.is-open {
            display: block;
        }
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}

//Site navigation
    
.site-nav {
    @extend %list;
    
    @media screen and (max-width: $up-to-tablet) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}
    
.site-nav__item:not(:last-child) {

    @media screen and (max-width: $up-to-tablet) {
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: $tablet) {
        margin-right: 50px;
    }
}

.site-nav__link {
    @extend %link;

    padding-top: 10px;
    padding-bottom: 10px;
    
    transition: $function-duration $function-timing;

    @media screen and (min-width: $tablet) {
        display: flex;
        padding-top: 33px;
        padding-bottom: 32px;
    }

    &:hover,
    &:focus {
        color: $accent-color;

        transition: $function-duration $function-timing;
    }
}

.site-nav__link--current {
    position: relative;
    color: $accent-color;
    
    &::before {
        content: '';
        position: absolute;
        display: block;
        
        width: 100%;
        height: 4px;
        
        left: 0;
        bottom: 0;
        
        border-radius: 2px;
        background-color: $accent-color;
    }
}  

// Contacts navigation

.contacts {
    @extend %list;

    @media screen and (min-width: $tablet) and (max-width: $up-to-desktop) {
        flex-direction: column;
        justify-content: center;
        
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: auto;
        text-align: start;

    }
    @media screen and (min-width: $desktop) {
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.contacts__item:not(:last-child) {
    @media screen and (max-width: $up-to-tablet) {
    margin-bottom: 16px;
    }

    @media screen and (max-width: $up-to-desktop) {
        margin-bottom: 10px;
        }

    @media screen and (min-width: $desktop) {
        margin-right: 30px;
    }
}

.contacts__link {
    @extend %link;
  
    color: $secondary-text-color;
    
    transition: $function-duration $function-timing;
    
    @media screen and (min-width: $desktop) {
        padding-top: 32px;
        padding-bottom: 31px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
        transition: $function-duration $function-timing;
    }
    &:hover .icon-contacts,
    &:focus .icon-contacts {
        color: $accent-color;
        fill: $accent-color;
        transition: $function-duration $function-timing;
    }
}

.icon-contacts {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    fill: $secondary-text-color;
    transition: $function-duration $function-timing;
}

.icon-envelope {
    width: 20px;
    height: 14px;
}

.icon-smartphone {
    width: 11px;
    height: 16px;
}