// Hero modal and backdrop menu

.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity $function-duration $function-timing;
    overflow-y: scroll;
    
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    
    width: calc(100% - (2 * 15px));
    min-height: 581px;
    
    background-color: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform $function-duration $function-timing;
    
    @media screen and (min-width: $mobile) {
        max-width: 450px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 528px;
    }
}
    
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;
    
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-white-color;
        
    transform: translate(-25%, 25%) scale(1);
    transition: transform $function-duration $function-timing;
}
    
.icon-close-btn {
    display: inline-block;
    
    width: 11px;
    height: 11px;

    fill: $primary-text-color;
    
    transform: scale(1);
    transition: transform $function-duration $function-timing, fill $function-duration $function-timing;
    
    .close-button:hover &,
    .close-button:focus & {
        fill: $accent-color;

        transform: scale(1.2);
        transition: transform $function-duration $function-timing, fill $function-duration $function-timing;
    }
}
    
// Registration form
    
.form__caption {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
    
.form__input-container {
    margin-bottom: 20px;
}
    
.form__field {
    position: relative;
    display: block;
    
    &:not(:last-child)  {
        margin-bottom: 28px;
    }
}

.form__label {
    position: absolute;
    top: 12px;
    left: 42px;
    margin-bottom: 0;
    
    font-size: 14px;
    letter-spacing: 0.01em;
    
    color: $secondary-text-color;
    pointer-events: none;
    
    transform-origin: left;
    transform: translateY(0) scale(1);
    transition: transform $function-duration $function-timing, color $function-duration $function-timing;

    .form__input:hover + &,
    .form__input:focus + &,
    .form__input:not(:placeholder-shown) + & {
        color: $accent-color;

        transform: translate(-26px,-32px) scale(0.86);
        transition: transform $function-duration $function-timing, color $function-duration $function-timing;
    }
}
    
.icon-input {
    position: absolute;
    top: 10px;
    left: 16px;
    
    pointer-events: none;
    transition: $function-duration $function-timing;
    
    .form__input:hover ~ &,
    .form__input:focus ~ &,
    .form__input:not(:placeholder-shown) ~ & {
        fill: $accent-color;
        transition: $function-duration $function-timing;
    }
}

.form__input {
    padding: 12px 16px 12px 42px;
    width: 100%;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    transition: $function-duration $function-timing;
    
    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
        border-color: $accent-color;
        transition: $function-duration $function-timing;
    }
}
    
.comment {
    padding: 12px 16px;
    margin-bottom: 0;
    
    resize: none;
    min-height: 120px;
}
    
.comment__label {
    left: 16px;
    
    .form__input:hover + &,
    .form__input:focus + &,
    .form__input:not(:placeholder-shown) + & {
    transform: translateY(-32px) scale(0.86);
    transition: transform $function-duration $function-timing;
    }
}
    
.form__checkbox-container {
    margin-bottom: 30px;
}
    
.form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    
.icon-checkbox {
    display: inline-block;
    margin-right: 5px;
    
    width: 15px;
    height: 15px;
    
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    
    vertical-align: sub;
    transition: transform $function-duration $function-timing;
    
    .form__checkbox:checked + & {
        background-image: url(../images/checkbox.svg);
        background-size: contain;
        background-origin: border-box;
        
        border-color: transparent;
        
        transform: scale(1.2);
        transition: transform $function-duration $function-timing;
    }
}
    
.form__checkbox-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
    color: $secondary-text-color;
    
    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}
    
    .policy {
    color: $accent-color;
}