// General style
html {
    box-sizing: border-box;
}
    
*,
*::before,
*::after {
    box-sizing: inherit;
    // outline: 2px solid red;
}

body {
    margin: 0;
    
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    
    color: $primary-text-color;
    background-color: $primary-white-color;
}